.main {
	position:relative;
	width:500px;
	height:500px;
	margin:0 auto;
}
.quarter {
	position:absolute;
	width:50%;
	height:50%;
	transition:background-color 0.2s ease-in-out;
	border: 5px solid black;
	
}
.quarter:hover {
	background-color:pink;
}

.quarter1 {
	top:0;
	left:0;
	background-color:red;
	border-radius:100% 0 0 0;
}
.quarter2 {
	top:0;
	right:0;
	background-color:blue;
	border-radius:0 100% 0 0 ;
}
.quarter3 {
	bottom:0;
	left:0;
	background-color:orange;
	border-radius:0 0 0 100%;
}
.quarter4 {
	bottom:0;
	right:0;
	background-color:green;
	border-radius:0 0 100% 0 ;
}
.tog{
	background-color:pink;
	color: white;
}
.center {
	width:50%;
	height:50%;
	background-color:white;
	position:absolute;
	top:25%;
	left:25%;
	border-radius:50%;
	text-align: center;
	
	border: 5px solid black;
	
	
	}
.title{
	font-size: 50px;
	text-align: center;
	}
.x{
	float: left;
}