body{
	background-image: url("http://images.unsplash.com/photo-1498496294664-d9372eb521f3?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&s=c3b3423445db7474491a95f52175a382");
	background-repeat: no-repeat;
	background-size: cover;
}

.main {
	position:relative;
	width:500px;
	height:500px;
	margin:10% auto;
}
.quarter {
	position:absolute;
	width:50%;
	height:50%;
	transition:background-color 0.2s ease-in-out;
	border: 5px solid black;
	
}
.quarter:hover {
	background-color:pink;
}

.quarter1 {
	top:0;
	left:0;
	background-color:red;
	border-radius:100% 0 0 0;
}
.quarter2 {
	top:0;
	right:0;
	background-color:blue;
	border-radius:0 100% 0 0 ;
}
.quarter3 {
	bottom:0;
	left:0;
	background-color:orange;
	border-radius:0 0 0 100%;
}
.quarter4 {
	bottom:0;
	right:0;
	background-color:green;
	border-radius:0 0 100% 0 ;
}
.tog{
	background-color:pink;
	color: white;
}
.center {
	width:50%;
	height:50%;
	background-color:white;
	position:absolute;
	top:25%;
	left:25%;
	border-radius:50%;
	text-align: center;
	
	border: 5px solid black;
	
	
	}
.title{
	font-size: 50px;
	text-align: center;
	font-family: 'Pacifico', cursive;
	}
.row{
	padding:0px 30px 0px 10px;
}
#countParent{
	
}
#count{	
	border-radius: 20px;
	background-color: black;
	width:60px;
	height: 60px;
	margin: 5%;
	text-align: center;
	font-family: 'Pacifico', cursive;
	color:red;
	font-size: 30px;
}
#start{
	font-family: 'Comfortaa', cursive;
	margin:0px 10px 0px 0px;
}
#strict{
	font-family: 'Comfortaa', cursive;
	margin:0px 10px 0px 0px;
}
#on{
	font-family: 'Comfortaa', cursive;
	margin: 30px 0px 0px -5px;
}

