.square{

	min-width: 8em;
	min-height: 8em;
	max-width: 10em;
	max-height: 10em;
	background-color:#DAE5E8;
	border:1px solid black;
	border-radius: 10px;
	text-align: center;
	padding: 10px;

}

.container{
	margin:0 auto;
	padding:40px;
}


li{
	list-style: none;
}


.main {
    color: red;
}

span{
	min-width: 80px;
	min-height: 80px;
	font-size: 80px;

}
